body, html {
  height: 100%;
  margin: 0;
  background-color: yellow;
    
}

.navbar {
    overflow: hidden;
    background-color: black;
  }
  .navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px;
  margin: 1px;
  font-size: 20px;
  }
  .navbar a.active {
      background-color: rgb(69, 182, 90);
  }
  
  .flex {
    display: flex;
    flex-direction: row;
  }
  .text {
    padding: 15px;
    min-width: 50%;
    max-width: 50%;
    margin: auto middle;
    text-align: center;
    vertical-align: middle;

  }
.menu {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  height: auto;
  flex-wrap: wrap;
  
}
.Pizza {
  float: left;
  width: 350px;
  padding: 5px;
  margin: 5px;
  text-align: center;

}
.Pizza img {
  width: 240px;
  height: 160px;
}